.App {
  text-align: center;
  user-select: none;
}

body.light-theme {
  background-color: white;
  color: black;
}

body.dark-theme {
  background-color: black;
  color: white;
}

.calculator-grid {
  display: grid;
  gap: 3px;
  justify-content: center;
  font-size: 1.2em;
  font-weight: bold;
}

.display-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  grid-column: span 4;
  height: 3em;
  box-shadow: 0 0 5px inset;
  padding: 0 0.5em;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3em;
  width: 3em;
  box-shadow: 0 0 7px inset;
}

.light-theme > .button {
  background-color: #f0f0f0;
}

.dark-theme > .button {
  background-color: #666666;
}

.button[type=scientific] {
  width: auto;
  grid-column: span 3;
}

.button[type=function],
.button[type=theme] {
  width: auto;
  grid-column: span 2;
}

.button[type=theme] {
  margin-bottom: 1em;
  font-size: 0.9em;
}